[project]
	description = "convert binary, hex, flaot, double, int  "
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Hasindu Ramanayaka (Ramanayaka)
[access "refs/for/refs/*"]
	read = group user/Hasindu Ramanayaka (Ramanayaka)
	push = group user/Hasindu Ramanayaka (Ramanayaka)
	label-Code-Review = -2..+2 group user/Hasindu Ramanayaka (Ramanayaka)
	label-Verified = -1..+1 group user/Hasindu Ramanayaka (Ramanayaka)
	rebase = group user/Hasindu Ramanayaka (Ramanayaka)
	removeReviewer = group user/Hasindu Ramanayaka (Ramanayaka)
	submit = group user/Hasindu Ramanayaka (Ramanayaka)
[access "refs/heads/*"]
	read = group user/Hasindu Ramanayaka (Ramanayaka)
	create = group user/Hasindu Ramanayaka (Ramanayaka)
	push = +force group user/Hasindu Ramanayaka (Ramanayaka)
	pushMerge = group user/Hasindu Ramanayaka (Ramanayaka)
[access "refs/tags/*"]
	push = group user/Hasindu Ramanayaka (Ramanayaka)
	push = +force group user/Hasindu Ramanayaka (Ramanayaka)
